<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
       <add name="connection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\GITHUB\Galaxe\DNAService\DataAccessLaer\Database1.mdf;Integrated Security=True;Persist Security Info=True;Timeout=180" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        
      <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webBehavior">
          
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="ClassLibrary1.SimpleService">
        
        <endpoint address="GxService" binding="netTcpBinding" bindingConfiguration="" contract="ClassLibrary1.ISimpleService" />

        <endpoint address="GxReportService" binding="netTcpBinding" bindingConfiguration="" contract="ClassLibrary1.IReportService" />

        <endpoint address="GxRestService" binding="webHttpBinding" bindingConfiguration="" contract="ClassLibrary1.IRestfulDNA" behaviorConfiguration="webBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8085" />
            <add baseAddress="net.tcp://localhost:8095" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>