<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        
      <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webBehavior">
          
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="ClassLibrary1.SimpleService">
        
        <endpoint address="GxService" binding="netTcpBinding" bindingConfiguration=""
            contract="ClassLibrary1.ISimpleService"  />

        <endpoint address="GxReportService" binding="netTcpBinding" bindingConfiguration=""
             contract="ClassLibrary1.IReportService" />

        <endpoint address="GxRestService" binding="webHttpBinding" bindingConfiguration=""
            contract="ClassLibrary1.IRestfulDNA" behaviorConfiguration="webBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8085" />
            <add baseAddress="net.tcp://localhost:8095" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>